<html>
    <head>
        <title>Todo App</title>
    </head>
    <body>
        <form action='todos/create' method='post'>
        <div>
            <label for = 'name'>Create a Todo item</label>
            <input type="text" id="description" name="description">
            <input type="submit" value="Create" />
        </div>
        </div>
        </form>
        <ul>
            {% for d in data %}
            <li>{{d.description}}</li>
            {% endfor %}
        </ul>
    </body>
</html>