<html>

<head>
    <title>Todo App</title>

    <style>
        .hidden-list, .hidden-todo  {
            display: none;
        }


        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }

        .lists-wrapper,
        .todos-wrapper {
            display: inline-block;
            vertical-align: top;
        }

        input[type=checkbox]:checked+label.strikethrough {
            text-decoration: line-through;
        }

        li button {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            appearance: none !important;
            border: none;
            outline: none;
            color: red;
            float: right;
            cursor: pointer;
        }
    </style>
</head>

<body>

    
    <div class="lists-wrapper">
        <h3>Lists</h3>
        <form id='form-lists'>
            <div>
                <label for='name'></label>
                <input type="text" id="name" name="name">
                <input type="submit" value="Create" />
            </div>

        </form>
        <div id="error-list" class='hidden-list'>Something went wrong!</div>

        <ul id='lists'>
            {% for list in lists %}
            <a href="/lists/{{list.id}}">{{list.name}}</a>
            {% endfor %}
        </ul>
    </div>
    <div class='todos-wrapper'>

        <h4>{{active_list.name}}</h4>
        <form id='form-todo'>
            <div>
               
                <input type="text" id="description" name="description">
                <input type="submit" value="Create" />
            </div>

        </form>
            <div id="error-todo" class='hidden-todo'>Something went wrong!</div>
  
        <ul id='todos'>
            {% for todo in todos %}
            <li><input data-id="{{todo.id}}" class="check-completed" type="checkbox" {%if todo.completed %} checked
                    style='text-decoration: line-through;' {% endif %} />
                <label class="strikethrough">{{todo.description}}
                    <button data-id="{{todo.id}}" class="delete">&cross;</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        const to_delete = document.querySelectorAll('.delete');
        for (let i = 0; i < to_delete.length; i++) {
            const btn = to_delete[i];
            btn.onclick = function (e) {
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                })
                    .then(function () {
                        const item = e.target.parentElement;
                        item.remove();
                    })
            }
        }


        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = function (e) {
                console.log('event', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).catch(function () {
                    document.getElementById('error-todo').className = '';
                })
            }
        }

        document.getElementById('form-todo').onsubmit = function(e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json',

                }
            }).then(response => response.json())
                .then(function (jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    const checkbox = document.createElement('input');
                    checkbox.className = 'check-completed';
                    checkbox.type = 'checkbox';
                    liItem.appendChild(checkbox);
                    const text = document.createTextNode(' ' + jsonResponse.description);
                    liItem.appendChild(text);

                    const deleteBtn = document.createElement('button');
                    deleteBtn.className = 'delete-button';
                    deleteBtn.setAttribute('data-id', jsonResponse.id);
                    deleteBtn.innerHTML = '&cross;';
                    liItem.appendChild(deleteBtn);
                     
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error-todo').className = 'hidden-todo';
                    
                   
                })
                .catch(function () {
                    document.getElementById('error-todo').className = '';
                })

        }
       
        document.getElementById('form-lists').onsubmit = function (e) {
            e.preventDefault();
            fetch('/lists/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('name').value
                }),
                headers: {
                    'Content-Type': 'application/json',

                }
            }).then(response => response.json())
             
                .then(function (jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    liItem.innnerHTML = jsonResponse.name;
                    //liItem.appendChild(text);

                    document.getElementById('lists').appendChild(liItem);
                    document.getElementById('error-list').className = 'hidden-list';
                })
                .catch(function () {
                    document.getElementById('error-list').className = '';
                })

        }
    </script>
</body>

</html>